*
!.gitignore
!.gitattributes
!.dockerignore
!.env.example
!README.md
!Dockerfile
!Makefile
!docker-compose.yml
!docker/
!docker/**
!scripts/
!scripts/**
!.github/
!.github/**
docker/wp-config-secrets.php
!doc/
!doc/**
